@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.cyan-gradient {
		background: linear-gradient(45deg, #04f5ff 0%, #b11bda 100%);
	}

	.md-height {
		height: calc(100vh - 68px);
	}

	.sm-height {
		height: cacl(100vh - 92px);
	}
}
